{% extends "parent.html" %}
{% block content %}
<h2 class="middle"><u>Kontakt do mnie</u></h2>
<p1 class="text">
    <ul>
        <li><strong>E-mail: </strong> fmalula@6639.33mail.com</li>
        <li><strong>Telefon: </strong> Stary, jestem tylko świnką morską...</li>
    </ul>
</p1>    
<p2 class = form>Skontaktuj się ze mną!</p2>
    <form action="" method="POST">
        <label for="contact">Napisz wiadomość:</label><br>
        <textarea id="message" name="message" rows="5" cols="30">
        </textarea>
        <input type="submit" value="Wyślij"/>
    </form>

{% endblock %}

